/* ------------- General Styles ------------- */

html {
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 8rem;
    font-size: normal;
    font-weight: 600;
    line-height: 8rem;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 5.6rem;
    line-height: 4rem;
}

h3 {
    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    line-height: 4rem;
}

h4 {
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    line-height: 4rem;
}

p {
    font-size: 18px;
    line-height: 3.2rem;
}


.btn_primary {
    width: 190px;
    height: 61px;
    font-size: 1.8rem;
    background: #44FFA1;
    box-sizing: border-box;
    border: 2px solid #44FFA1;
}

.btn_primary:hover {
    background: none;
    cursor: pointer;
    border: 2px solid #44FFA1;
    color: #44FFA1;
    box-sizing: border-box;
}

.btn_secondary {
    width: 14rem;
    height: 3.2rem;
    font-size: 1.8rem;
    background: none;
    border: none;
    border-bottom: 3px solid #44FFA1;
    color: #FFFFFF;
    padding: 0;
}

.btn_secondary:hover {
    color: #44FFA1;
    cursor: pointer;
}

.logo {
    max-width: 9.5rem;
    max-height: 2.4rem;
}

.light_text{
    color: #FFFFFF;
}

/* ------------- Hero Section ------------- */

.hero_section {
    position: relative;
}

.hero_section::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #24053E;
    z-index: -1;
    clip-path: ellipse(130% 120% at 50% -20%);
}

.phone_wrapper {
    display: flex;
    justify-content: center;
}

.phone {
    aspect-ratio: 715 / 427;
    width: 50vw;
    height: auto;
    max-width: 71.5rem;
    max-height: 42.7rem;
    position: relative;
    bottom: -100px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.8rem 16.5rem 5.5rem 16.5rem;
}

.marketing_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 63.5rem;
    margin: 0 auto;
    gap: 3.7rem;
}

.marketing_touch {
    border-bottom: 3px solid #44FFA1;
}

.ring_left_svg {
    position: absolute;
    top: 11.6rem;
    left: 0;
}

.ring_right_svg {
    position: absolute;
    right: 0;
    top: 31.4rem;
}


/* ------------- Features Section ------------- */

.features_section {
    position: relative;
    background: #FCF8FF;
    z-index: -1;
    clip-path: ellipse(130% 120% at 50% -20%);
}

.features_container {
    max-width: 1114px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 17.1rem;
    gap: 2.6rem;
}

.borderless_card {
    display: flex;
    flex-direction: column;
}

.rounded {
    border: 1px solid #584D62;
    border-radius: 30.5px;
    width: 5.6rem;
    height: 5.6rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space_around {
    margin: 56px 0 28px 0;
}

.cta_ring {
    position: absolute;
    max-width: 173px;
    bottom: -61.74px;
    right: 72.69px;
}

/* ------------- CTA Section ------------- */

.cta_section {
    display: flex;
    justify-content: center;
    margin: 22rem 0 10rem 0;
}

.founder_pic_wrapper {
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -45%;
    left: -52%;
    z-index: -1;
    clip-path: circle(23.85rem at 50% 50%);
    background-color: #44FFA1;
}

.founder_pic {
    position: relative;
    top: 4.2rem;
}

.cta_box {
    box-sizing: border-box;
    max-width: 73rem;
    background-color: #24053E;
    color:#FFFFFF;
    position: relative;
    left: 15%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 6.4rem;
}

/* ------------- Footer ------------- */

.footer {
    display: flex;
    justify-content: center;
}

.social_media {
    margin-bottom: 11rem;
}